@using LugiaProject.Models

@model ExploreModel

@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<form asp-area="" asp-controller="Explore" asp-action="Index" method="post" id="exploreForm" class="navbar-right">

    <ul class="nav navbar-nav navbar-right">
        <li>
            @if (Model != null)
            {
                @Html.HiddenFor(m => m.Query, new { @Value = Model.Query })

                for (int i = 0; i < Model.Result.Count; i++)
                {
                    @Html.HiddenFor(m => m.Result[i].Title, new { @Value = Model.Result[i].Title })
                    @Html.HiddenFor(m => m.Result[i].Url, new { @Value = Model.Result[i].Url })
                }

            }
        </li>
        <li>
            <button type="submit" class="btn btn-primary navbar-btn navbar-link" style="color: white;">Explore</button>
        </li>
    </ul>
</form>