html {
    height: 100%;
    overflow-y: hidden;
}

body {
    /*background-image: url(../images/bg.jpg);*/
    background-color: #FFFFFF;
    padding-top: 50px;
    padding-bottom: 20px;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    height: 100%;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

.content-container {
    margin: 0 auto 50px;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

#contentDiv {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    padding-top: 50px;
    border: none;
}

#content {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    padding-bottom: 50px;
    padding-top: 50px;
    border: none;
}

#exploreForm{
    margin-left: 30px;
}

.track-footer,
.push {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    line-height: 50px;
    background-color: #101010;
    text-align: center;
    align-content: center;
}

ul.footer-text li{
    flex: 1;
    text-align: center;
    font-size: large;
    color: #f0f0f0;
}

ul.footer-text {
    list-style-type: none;
    display: flex;
}

ul.footer-text li:nth-child(2) {
    padding-top: 15px;
}

#message {
    background-color: #C62828;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
    padding-bottom: 15px;
}

.vertical-center {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#active-message-container:hover {
    opacity: 0;
    filter: alpha(opacity=0);
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}
